html, body {
    padding: 0;
    margin: 0;
    background-color: #222831;
}

.title {
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: #fac650;
    background-color: #111720;
    padding: 30px;
    text-align: center;
    margin: 0;
}

#player-score {
    padding: 8px;
    margin: 4px;
    border: 5px solid #fac650;
    border-radius: 10px;
}

#computer-score {
    padding: 8px;
    margin: 4px;
    border: 5px solid #fac650;
    border-radius: 10px;
}

img {
    height: 100px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
}

button {
    border: 2px solid #111720;
    border-radius: 15px;
    border: none;
    transition: .4s;
    background-color: #111720;
    border-color: #111720
}

button:hover {
    transform: scale(1.1);
    border-color: #111720;
    box-shadow: 0 0 1rem #fac650;
    border-color: #111720
}

#container {
    font-size: 26px;
    font-family: 'Allerta Stencil';
    color: #ccd6dd;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

#score-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 8px;
    margin-top: 80px;
    
}

#btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 100px auto 20px auto;
    gap: 10px;
    align-items: center;
    max-width: 600px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    text-align: center;
    border: 5px solid #111720;
    padding: 6px;
    border-radius: 10px;
    max-width: 600px;
    transition: 0.7s;
    animation-name: result;
    animation-duration: 1.1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes result {
    0% {background-color: #222831;}
    50% {background-color: #fac650;color: #111720; border-color: #111720; box-shadow: 0 0 1rem #fac650;}
    100% {background-color: #222831; color: #ccd6dd; border-color: #111720;}
}

.result:hover {
    transform: scale(1.1);
    border-color: #111720;
    box-shadow: 0 0 1rem #fac650;
    background-color: #fac650;
    color: #111720;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111720;
    padding: 9px;
    font-size: 20px;
    font-family: 'Allerta Stencil';
    color: #ccd6dd;
    margin-top: auto;
}

a {
    padding-left: 5px;
    color: #ffc600;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}